/* Login Form Styling */
.login-container {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .app-description {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container label {
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  .login-container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .login-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .login-container button {
    max-width: 250px;
    margin-left: 50px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .login-error {
    color: red;
    margin-top: 10px;
  }
  
  .signup-link {
    margin-top: 15px;
    text-align: center;
  }
  
  .footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #c47c7c;
    border-top: 1px solid #ddd;
    color: #ffffff;
    height: 10vh;
  }